.row
  .col-md-12
    %table.table.table-condensed.center-content.margin_table
      %thead
        %tr
          %th= t(' item name')
          %th= t(' vendor link')
          %th= t(' item price')
          %th= t(' catalogue number')
          %th= t('shared.actions')
          = link_to 'New Expandable', new_purchase_order_expendable_path(@purchase_order.id),  class: 'btn btn-primary'
          = link_to 'New Chemical', new_purchase_order_chemical_path(@purchase_order.id),  class: 'btn btn-primary'
          -#= link_to 'Download as Excel', new_purchase_order_chemical_path(@purchase_order.id),  class: 'btn btn-primary'
          = link_to 'Download as Excel', purchase_order_path(format: :xlsx),  class: 'btn btn-primary'

        %tbody
          %tr
            - @purchase_order.items.find_each do |purchase_order_item|
              %tr
                %td= link_to purchase_order_item.item_name, purchase_order_expendable_path(@purchase_order.id, purchase_order_item)
                %td= link_to purchase_order_item.link, purchase_order_item.link
                %td= purchase_order_item.item_price
                %td= purchase_order_item.catalogue_number
                %td
                  = link_to edit_purchase_order_expendable_path(@purchase_order.id, purchase_order_item), {title: "edit"} do
                    %button.btn.btn-outline-warning.btn_margin
                      = fa_icon "edit"

                  = link_to  purchase_order_expendable_path(@purchase_order.id, purchase_order_item), { method: :delete, title: t('shared.delete') } do
                    %button.btn.btn-outline-danger.btn_margin
                      = fa_icon "trash"






