.card-deck

  .row
    .card.border-light.mb-3.margin_card_deck{:style => "max-width: 15rem;"}
      = link_to purchase_orders_path do
        %img.card-img-top{:alt => "sUpcoming Orders", :src => "https://s3.us-east-2.amazonaws.com/alpaca-app/eadiunkt/basket1.jpeg"}
          %h5.card-title All Upcoming Orders
          %p.card-text Add items to upcoming orders

    .card.border-light.mb-3.margin_card_deck{:style => "max-width: 15rem;"}
      = link_to new_purchase_order_path do
        %img.card-img-top{:alt => "New Order", :src => "https://s3.us-east-2.amazonaws.com/alpaca-app/eadiunkt/new_order.png"}
          %h5.card-title New Order
          %p.card-text Create new order

    .card.border-light.mb-3.margin_card_deck{:style => "max-width: 15rem;"}
      = link_to user_orders_path do
        %img.card-img-top{:alt => "My Orders", :src => "https://s3.us-east-2.amazonaws.com/alpaca-app/eadiunkt/user_basket.png"}
          %h5.card-title My Orders
          %p.card-text View and edit your orders

    .card.border-light.mb-3.margin_card_deck{:style => "max-width: 15rem;"}
      = link_to root_path do
        %img.card-img-top{:alt => "Generate File", :src => "https://s3.us-east-2.amazonaws.com/alpaca-app/eadiunkt/file_export2.png"}
          %h5.card-title Generate File
          %p.card-text Generate File summarizing your order

    .card.border-light.mb-3.margin_card_deck{:style => "max-width: 15rem;"}
      = link_to root_path do
        %img.card-img-top{:alt => "Chemicals", :src => "https://s3.us-east-2.amazonaws.com/alpaca-app/eadiunkt/chemical_3.png"}
          %h5.card-title  Upcoming Chemical Orders
          %p.card-text See and edit current order

    .card.border-light.mb-3.margin_card_deck{:style => "max-width: 15rem;"}
      = link_to root_path do
        %img.card-img-top{:alt => "Generate File", :src => "https://s3.us-east-2.amazonaws.com/alpaca-app/eadiunkt/expendable_1.png"}
          %h5.card-title  Upcoming Expendable Orders
          %p.card-text See and edit current order


